.galerija {
    padding: 20px;
    text-align: center;
}

.galerija-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.galerija_slika {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.galerija_slika img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
    
    filter: grayscale(100%); 
    
    transition: filter 0.5s ease, transform 0.3s ease;
}

.galerija_slika img:hover {
    filter: grayscale(0%); 
    transform: scale(1.02);
}

figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.lightbox:target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border: 3px solid white;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

.close:hover {
    color: #3498db;
}